* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:link,
a:visited {
    text-decoration: none;
    font-size: 50px;
    font-family: Arial;
    color: rgb(236, 80, 80);
}


a:hover {
    color: rgb(236, 80, 80);
    text-decoration: underline;
}


.header {
    color: #d93c3c;
    font-size: 50px;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    
    
    
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    position: fixed;
}

.link > li {
    margin-right: 30px;
    display: inline;
}

.images {
    display: flex;
    justify-content: flex-start;
}

.images-evain {
    height: 950px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-image: url('images/evian.jpg');
  
  }


.header-evain {

    position: absolute;
    top: 600x;
    right: 100px;
    bottom: 230px;
    left: 270px;

    color: #d93c3c;
    font-size: 100px;
    font-family: Arial;
}


.container {
    width: 1040px;
    padding: 100px 0;
    margin: 0 auto;   
}

.text-one li:first-child { 
    margin-bottom: 30px;
}

.text {
    padding: 10px;
    text-align: left;
    border: 2px solid #d93c3c;
    border-radius: 10px;
    margin: 0 0 50px 0;
    font-size: 20px;
    display: flex;
    justify-content: center; 
}

ul, ol {
    list-style: none;
  }

  .water {
    display: flex;
    justify-content: space-between;
  }

.mini-water {

    padding: 20px 10px 10px 50px;
    text-align: left;
    border: 2px solid #d93c3c;
    border-radius: 10px;
    margin: 50px 0 0 0;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly; 
}

.mini {
    position: relative;
    right: 20px;
}
.line-bottom > p {
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;  
    background-color: #d93c3c;
}

.text-two li:first-child { 
    margin: 20px 0 30px 0;
}

.text-two li:last-child { 
    margin-top: 30px;
}
